@page "/addressList"
@using global::AddressList.Services
@using global::AddressList.Shared.Models

@rendermode InteractiveServer

<h5 class="margin-bttm">Address Liste:</h5>

@if(Addresses == null){
    <p>Laden ...</p>
}
else if (Addresses.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Address Status</th>
                <th>Rechtsform</th>
                <th>Aktenzeichen</th>
                <th>Anrede</th>
                <th>Titel</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Straße</th>
                <th>Hausnummer</th>
                <th>PLZ</th>
                <th>Ort</th>
                <th>Land</th>
                <th>Import</th>
                <th>Datenquelle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var address in Addresses)
            {
                <tr style="color: @(address.AktuelleAnschrift ? "blue" : "black")">
                    <td>
                        @if(address.AddressStatus == "1"){
                            <img src="icons/Orange.ico" alt="unbestätigt" width="20" height="20" />
                        }
                        else if (address.AddressStatus == "2")
                        {
                            <img src="icons/Green.ico" alt="bestätigt" width="20" height="20" />
                        }
                        else if(address.AddressStatus == "90") {
                            <img src="icons/Red.ico" alt="Postretoure" width="20" height="20" />
                        }                        
                        else{
                            @address.AddressStatus
                        }
                    </td>
                    <td>@address.Rechtsform</td>
                    <td>@address.Aktenzeichen</td>
                    <td>@address.Anrede</td>
                    <td>@address.Titel</td>
                    <td>@address.Vorname</td>
                    <td>@address.Nachname</td>
                    <td>@address.Straße</td>
                    <td>@address.Hausnummer</td>
                    <td>@address.PLZ</td>
                    <td>@address.Ort</td>
                    <td>@address.Land</td>
                    <td>@address.Import</td>
                    <td>@address.Datenquelle</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Keine Adresse gefunden.</p>
}

@code {
    [Parameter]
    public List<Address> Addresses { get; set; }    
}
